<h2 class = "title is-2">Calories consumption of <%= @user.name %></h2>
<em class = "title is-6">Refresh (press F5) to show the graph</em>

<%= #content_tag :div, "", id: "calories_chart", data: {posts: calories_char_data} 
%>