<h2 class= "title is-2">New register</h2>
<hr>

<%= render 'form', post: @post %>

<div class="has-text-centered" >
  <div class="big-margin-top" >
    <%= link_to 'Back', pages_path %>
  </div>
</div>